html{
    overflow-x: hidden;
}
body{
  width: 100%;
  height: 100%;
}
.background{
  position: relative;
  background-image: url("file:///Users/spikysunster/Desktop/Udemy/My_World/pics/pic12.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.bgshader{
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
	width: 100%;
	height: 100%;
}

#navbar{
  position: absolute;
  z-index: 2;
}